/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    font-family: 'Roboto';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
}

h1 {
    font-family: 'Audiowide';
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fafafa;
    font-size: 150%;
    line-height: 75px;
    margin: 0 0.5rem;
}

h2 {
    font-family: 'Audiowide';
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
    font-size: 150%;
    line-height: 40px;
    margin: 0 0.5rem;
}

h3 {
    font-family: 'Roboto';
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
    font-size: 120%;
    line-height: 25px;
    margin: 0 0.5rem;
}

.hidden-heading {
    display: none;
}

/* Header */
header {
    background-color: #3a3a3a;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #fafafa;
}

/* Navbar style with dropdown toggle */
nav {
    position: absolute;
    background-color: #3a3a3a;
    color: #fafafa;
    width: 100%;
    left: 0;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
    font-size: 90%;
    text-align: right;
}

/* Nav toggle */

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: #fafafa;
}


/* Main content */
main {
    /* Make main element take up any suprlus space to push footer down*/
    flex: 1 0 auto;
    margin-top: 75px;
    /* Enable Flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* Hero section */
#hero {
    height: 30vh;
    width: 100%;
    background: url("../images/lawn.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(58, 58, 58, 0.7);
    font-size: 100%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 100px;
    padding-top: 10px;
    padding-left: 10px;
}

#cover-text>h2 {
    color: #fafafa;
}

#cover-text>h3 {
    color: #fafafa;
    font-size: 80%;
}

/* Reasons section */
#reasons {
    width: 90%;
    margin: 20px auto;
}

#reasons h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#reasons-h3 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 150%;
}

#benefits-1>div,
#benefits-2>div {
    line-height: 20px;
    margin-bottom: 20px;
}

#benefits p {
    padding: 0 20px;
}

#benefits hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

#circle-cover-bg {
    background: url("../images/navimow_stand.webp") no-repeat center/cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* Makes the square image into a cricle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#benefits-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Further Benefits Section */

#benefits-3 {
    background: url("../images/further-benefits-bg.webp") no-repeat center/cover;
    /* Handles responsivity with the need for a media query */
    display: flex;
    flex-wrap: wrap;
}

#benefits-3 div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    padding: 15px;
    text-align: center;
    /* This will not wrap on screens less than 400px wide.
    Each div will expand to fill the available space on its row */
    flex-basis: 200px;
    flex-grow: 1;
    /* Creates a grid of further benefits divs over the background image */
    border: 2px solid white;
}

#benefits-3 h3 {
    /* Override the heading color set in general styles */
    color: #fafafa;
    font-size: 90%;
}

/* Product page*/
#products {
    display: flex;
    flex-direction: unset;
}

.product-container {
    background: url(../images/contact.webp) no-repeat center center/cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    padding: 20px 20px 0 20px;
    min-height: 400px;
}

.product-box {
    background-color: #fafafa;
    border: 1px solid #6b6b6b;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: calc(50% - 10px);
    margin-bottom: 20px;
}

.product-box img {
    max-width: 100%;
}

.product-box h2 {
    font-size: 1.2em;
    margin-top: 10px;
}

.product-box p {
    color: #555;
    padding-bottom: 10px;
}

.product-box .price {
    font-weight: bold;
    font-size: 110%;
    color:#252525;
}

/* Gallery Page */
#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;
}

/* Company */
#company-section {
    background-image: url(../images/contact.webp);
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#company-section-box h2 {
    font-size: 150%;
    text-align: center;
    color: #fafafa;
    margin-bottom: 20px;
    margin-top: 0;
    background-color: rgba(60, 60, 60, 0.6);
}

#company-section-box p {
    font-size: 130%;
    text-align: center;
    color: #fafafa;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(60, 60, 60, 0.6);
}

#location-map {
    width: 100%;
    height: 50rem;
}

#location-iframe {
    width: 100%;
    height: 100%;
    border: none;
    scroll-behavior: unset;
    margin: 0;
}

/* Form */
#contact {
    background-image: url(../images/contact.webp);
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#contact-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}

#contact-form>h2 {
    font-size: 130%;
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: rgba(255, 255, 255, 0.5);
    font-weight: 600;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
    resize: vertical;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #454b1b;
    color: #fafafa;
}

/* Thank you page */
#thankyou {
    background-image: url(../images/contact.webp);
    background-size: cover;
    background-position: 75%;
    color: white;
    text-align: center;
}

#thankyou-heading {
    color: white;
    text-align: center;
    padding-top: 100px;
}

/* Footer */
#footer-notice {
    font-size: 80%;
    color: #fafafa;
    text-align: center;
    background-color: #3a3a3a;
    padding-top: 10px;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #3a3a3a;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #fafafa;
}

/* 404 page*/
.container {
    background-image: url(../images/contact.webp);
    background-size: cover;
    background-position: 75%;
    color: #fafafa;
    text-align: center;
    background-color: rgba(60, 60, 60, 0.6);
}

.container h1 {
    background-color: rgba(0, 0, 0, .6);
    margin-top: 100px;
}

.container a {
    color: #ffffff;
}

/*Media query for mobile phones (575px and below) */
@media screen and (max-width: 575px) {
    #contact-form i {
    display: none;
    }
}

/*Media query for large and landscape phones (576px and above) */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/*Media query for tablets and larger (768px and above) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    /* CSS to hide the last <li> element within the #menu <ul> */
    #menu li:last-child {
        display: none;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 150%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main Content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 75px;
    }

    /* Hero */
    #cover-text {
        width: 300px;
        right: 50px;
        padding-top: 20px;
        padding-left: 20px;
    }

    /* Benefits Section */
    #benefits-1,
    #benefits-2 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #benefits-1>div,
    #benefits-2>div {
        width: 75%;
    }

    #benefits-2>div {
        text-align: end;
        align-self: flex-end;
    }

    /* Gallery */
    #photos {
        column-count: 3;
    }

    /* Form */
    #contact {
        background-position: center;
        position: relative;
    }

    #contact-form {
        max-width: 400px;
        position: absolute;
        left: 10%;
        top: 100px;
    }

    .text-input:hover {
        border-color: #f16c6b;
    }

    .submit-button:hover {
        background-color: #fafafa;
        color: #454b1b;
    }

    .text-input-box {
        height: 200px;
    }
}

/*Media query for product conteiner (991px and below) */
@media screen and (max-width: 991px) {
    .product-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    .product-box {
        width: calc(100% - 10px);
    }
}

/*Media query for tablets and larger (992px and above) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #fafafa;
    }

    /* Gallery */
    #photos {
        column-count: 4;
    }
}

/*Media query for tablets and larger (1200px and above) */
@media screen and (min-width: 1200px) {

    /* Reasons Section */
    #benefits {
        display: flex;
        flex-direction: row;
    }

    #beneftis>div {
        flex: 1;
    }

    #benefits-image {
        order: 0;
    }

    #benefits-1 {
        order: 1;
    }

    #benefits-1>div {
        align-self: flex-start;
    }

    #benefits-2>div {
        align-self: flex-end;
    }
}